<section class="files">
  <div class="content">
    <ul>
    <% @files.each do |file| %>
        <li class="list-item">
          <a href="/<%= file %>"><%= file %></a>
          <div class="delete-button">
            <form class="delete" action="/<%= file %>/delete" method="post">
                <button type="submit">Delete</button>
            </form>
          </div>
          <div class="edit-button">
            <form class="edit" action="/<%= file %>/edit" method="get">
              <button type="submit">edit</button>
            </form>
          </div>
        </li>
    <% end %>
    </ul>

    <a href="/new">Create New Document</a>
  </div>
</section>
<div class="content">
<div class="profile">
  <% if session[:username] %>
    <p>You are logged in as <%= session[:username] %></p>
    <form action="/users/logout" method="post">
      <button type="submit">Logout</button>
    </form>
  <% else %>
    <p class="user-status"><a href="/users/login">Sign In</a></p>
  <% end %>  
</div>

</div>